<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<nav>
  <ul>
    <li>
      <a
        routerLink="/activity"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >First Component</a
      >
    </li>
    <li>
      <a
        routerLink="/user"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Second Component</a
      >
    </li>
  </ul>
</nav>

<main class="main">
  <app-accomplice></app-accomplice>
  <app-activity></app-activity>
  <app-expense></app-expense>
  <app-fw006></app-fw006>
  <app-info></app-info>
  <app-notification></app-notification>
  <app-user></app-user>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
