<p>Activities</p>

<p-table [value]="activities" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>date</th>
      <th>module</th>
      <th>act</th>
      <th>name</th>
      <th>description</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-activity>
    <tr>
      <td>{{ activity.createdAt | date : "d/M/yy HH:mm" }}</td>
      <td>{{ activity.module.name }}</td>
      <td>{{ activity.act }}</td>
      <td>{{ activity.user.name }}</td>
      <td>{{ activity.description }}</td>
    </tr>
  </ng-template>
</p-table>
